@import "reset.css";
.hidden {
  display: none;
}

body {
  display: flex;
  background-color: beige;
  margin: 0 auto;
  font-family: "Gowun Batang", serif;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  padding: 50px, 0px;
}

#momentum {
  position: relative;
  float: left;
  width: 700px;
  height: 700px;
  border-radius: 30px;
  box-shadow: 10px 10px 6px rgba(50, 50, 93, 0.11);
  background-color: #98ddca;
}

#todo-list {
  all: unset;
}

#quote {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
}

#weather {
  position: absolute;
  right: 5%;
  top: 0%;
  width: 100px;
  height: 150px;
  background-size: contain;
  display: block;
}

.city {
  all: unset;
  width: 100px;
  display: block;
  text-align: center;
  position: absolute;
  top: 25%;
  right: 50%;
}

#clock {
  position: absolute;
  top: 5.5%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 20px;
}

.paint-name {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  background-color: #fce38a;
  box-shadow: 3px 3px 6px rgba(50, 50, 93, 0.11);
}

#login-form {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 250px;
  height: 100px;
  transform: translate(-50%, -50%);
}

#login-name {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  background-color: #fce38a;
  box-shadow: 3px 3px 6px rgba(50, 50, 93, 0.11);
  border: 0px;
}

#todo-form {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#todo-text {
  width: 270px;
  height: 30px;
  border-radius: 12px;
  border: 0px;
  text-align: center;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 0px;
}

#todo-list {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 20px;
}

.clock-style {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0px;
  background-color: #d5ecc2;
  box-shadow: 5px 5px 6px rgba(50, 50, 93, 0.11);
}

.num-style .line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 0.5px;
  background-color: black;
  z-index: 1;
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: 2;
  background-color: #d5ecc2;
}

.num-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  padding: 0;
  z-index: 8;
}

.num-style .num-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 100%;
  height: 5px;
  z-index: 10;
  justify-content: space-between;
  font-size: 3px;
  font-weight: bold;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  z-index: 10;
}

.clock-style .hour {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 4px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hour .left {
  width: 50%;
  background-color: #ffd3b4;
}

.hour .right {
  flex-grow: 1;
}

.clock-style .minute {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 3px;
  transform: translate(-50%, -50%) rotate(30deg);
  z-index: 11;
}

.minute .left {
  width: 50%;
  background-color: #ffd3b4;
}

.minute .right {
  flex-grow: 1;
}

.clock-style .second {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 1px;
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: 12;
}

.second .left {
  width: 50%;
  background-color: #ffaaa7;
}

.second .right {
  flex-grow: 1;
}
